/.vs
/KeyGenerator/bin
/KeyGenerator/obj
/KeyGenerator.Site/bin
/KeyGenerator.Site/obj
/0470749822.pdf
/log.txt
/algoritm.txt
/KeyGenerator.Core/bin
/KeyGenerator.Core/obj
/KeyGenerator.Tests/bin
/KeyGenerator.Tests/obj
